/*---------------LoginForm----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ramabhadra&family=Rubik+Moonrocks&display=swap');

:root {
    --header-height: 2rem
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {

    text-align: center;
    background: rgb(144, 58, 180);
    background: linear-gradient(90deg, rgba(144, 58, 180, 1) 0%, rgba(29, 237, 253, 1) 50%, rgba(144, 58, 180, 1) 100%);
    font-size: 30px;
    margin: 0 0 var(--header-height) 0;
    font-family: 'Ramabhadra', sans-serif;
    color: #fefae0;
}

#login__container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px 1px 1px 1px #000000;
    border-radius: 10%;

}

.header__header {
    width: 100%;
    height: 80px;
    ;
    position: flex;
    bottom: 0;
    left: 0;
    background-color: #000000;
}

#header__text {
    margin: auto;
    text-align: left;
    margin-left: 5%;
}

#img__login {
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 280px;
    border-radius: 0.5rem;
    justify-content: center;
    align-self: center;
}

.animate__animated.animate__zoomInLeft {
    --animate-duration: 1200ms;
}

input {
    position: relative;
    display: inline-block;
    font-size: 30px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"] {
    background: #fff;
    width: 440px;
    height: 100px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;

}

input[type="submit"] {
    position: relative;
    left: -5;
    width: 250px;
    height: 100px;
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;

}

input[type="submit"]:hover {
    background: #FF5722;
}

h4 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.colum__login {
    column-count: 1;
    margin: auto;
    column-width: 5px;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
    padding: 0.5rem;
}

.box1 {
    padding: 0.5rem;
    margin-left: 90%;
}

.box2 {
    padding: 0.5rem;
    margin-left: 40%;
    margin-top: 150px;
    font-size: 20px;
}

#img__translation {
    width: 46px;
    height: 46px;
    align-items: center;
    margin-left: 25%
}

.header__translation {
    width: 100%;
    height: 80px;
    ;
    position: flex;
    bottom: 0;
    left: 0;
    background-color: #34334494;
}

#translation__container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px 1px 1px 1px #000000;
    border-radius: 10%;
}

#nav__profile {
    margin: auto;
}

@media (max-width: 1380px) {
    input[type="text"] {
        background: #fff;
        width: 350px;
        height: 100px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;

    }
}

@media (max-width: 1276px) {
    input[type="submit"] {
        position: relative;
        left: -5;
        width: 100px;
        height: 50px;
        border-radius: 0 25px 25px 0;
        border: none;
        outline: none;
        cursor: pointer;
        background: #ffc107;
    }
}

@media (max-width: 1276px) {
    input[type="text"] {
        background: #fff;
        width: 200px;
        height: 50px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;

    }
}

@media (max-width: 776px) {
    input[type="submit"] {
        position: relative;
        left: -5;
        width: 100px;
        height: 50px;
        border-radius: 0 25px 25px 0;
        border: none;
        outline: none;
        cursor: pointer;
        background: #ffc107;
    }
}

@media (max-width: 776px) {
    input[type="text"] {
        background: #fff;
        width: 120px;
        height: 50px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;

    }
 }
    /*---------Translation Page----------*/
    #input{
        position: relative;
        display: inline-block;
        font-size: 30px;
        box-sizing: border-box;
        transition: .5s;
    }
    #input[type="text"]{
        background: #fff;
        width: 270px;
        height: 50px;
        border: none;
        outline: none;
        padding: 0px 25px;
        border-radius: 25px 25px 25px 25px;
    
    }
    #input[type="submit"]{
        position: relative;
        left: -5;
        width: 250px;
        height: 100px;
        border-radius: 0 25px 25px 0;
        border: none;
        outline: none;
        cursor: pointer;
        background: #ffc107;
    
    }

.translationHistory {

    background-color: #FFFFFF;
    border: 0, 5px solid rgb(91, 84, 84);
    border-radius: 25px;
    color: rgb(91, 84, 84);
    font-size: medium;
    width: 500px;
    height: 350px;
    margin: auto;
    text-align: center;
    margin: auto;

}

#label{
    font-size: 46px;
    margin-bottom: 20px;
}

#img__fieldset{
    background-color: #fefae0;
    margin: 20px 200px 20px 200px;
    padding: 30px;
    border-radius: 25px;
    position: flex;
    

}

#label__translation{
    font-size: 46px;
    margin-bottom: 20px;
    margin: 20px 200px 20px 200px;
    border-radius: 25px;
    background-color: #81762a77;
    padding: 20px;
    border-color: #fefae0;
}

#btn__translation{
    font-size: 26px;
    margin-bottom: 20px;
    margin: 20px 200px 20px 200px;
    border-radius: 25px;
    background-color: #2c291877;
    padding: 20px;
    border-color: #fefae0;
    color: #ffee07e1;
    cursor: pointer;
}
#btn__translation[type="submit"]:hover {
    background: #965b49;
    color: #000000;
}
h5{
    font-size: 24px;
    margin-bottom: -15px;
    color: #ffee07e1;
}
#profile__nav{
    top: 0px;;
    margin-top: 0px;
    margin: auto;
    margin-left: 1000px;
}
/*-----------PROFILE-----------*/

h4 {
    color:#fefae0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color:#fefae0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.logout {
    background-color: rgb(2, 2, 1);
    color: white;
    font-size: 15px;
    padding: 5px 30px;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}
.clearHistory {
    background-color: rgb(44, 47, 47);
    color: white;
    font-size: 15px;
    padding: 5px 30px;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;


}
 /*---------PROFILE-NAV---------*/

 #profile__ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #8942d554;
}

#profile__li {
    float: left;
}

#profile__li a {
    display: block;
    color: white;
    text-align: left;
    padding: 15px 17px;
    text-decoration: none;
}

/* Links will change color when hovered over */
#profile__li:hover {
    background-color: #7300ff52;
}

#profile__fieldset{
    font-size: 46px;
    margin-bottom: 20px;
    margin: 20px 200px 20px 200px;
    border-radius: 25px;
    background-color: #81762a77;
    padding: 20px;
    border-color: #fefae0;
}

